body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  margin: 0;
  padding: 20px;
}
.container{
  max-width: 1200px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}
.data-count{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-container {
  width: 100%;
  max-width: 100%;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  height: 35px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4caf50, #45a049);
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 35px;
  transition: width 1s ease-in-out;
}

.stats {
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

.date {
  font-size: 18px;
  font-weight: bold;
  color: #444;
  margin-top: 5px;
}

/* surah card list css */
.surah-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6টা কলাম */
  gap: 15px; /* column & row gap */
  margin-top: 50px;
}
.card {
  background: white;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}
.card p {
  margin: 5px 0;
  color: #555;
}
.gold {
  background: gold;
  color: black;
  font-weight: bold;
}
